
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </head>
<nav class="navbar navbar-expand-lg fixed-top navbarScroll">
  <div class="container">
      <a class="navbar-brand" href="#" style="color: rgb(227, 135, 107);">harshith</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#home" style="color: rgb(227, 135, 107);">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about" style="color: rgb(227, 135, 107);">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services" style="color: rgb(227, 135, 107);">Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#portfolio" style="color: rgb(227, 135, 107);">Portfolio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact" style="color: rgb(227, 135, 107);">Contact</a>
              </li>
          </ul>
          
      </div>
  </div>
</nav>
 <!-- main banner -->
 <section class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
          <h2 class="hero_title">Hi, it's me harshith</h2>
          <p class="hero_desc">I am a professional UI developer </p>
      </div>
      </div>
  </div>
</section>

<!-- about section-->
<section id="about">
  <div class="container mt-4 pt-4">
      <h1 class="text-center">About Me</h1>
      <div class="row mt-4">
          <div class="col-lg-4">
              <img src="assets/about3.jpg" class= "imageAboutPage" alt="">
          </div>

          <div class="col-lg-8">
              <p> professional experience in 
                IT industry with expertise in Web application, User Interface Development,
                 Team Management and Client Co-ordination.  strong skills in HTML5,
                  CSS3, Bootstrap, JavaScript, TypeScript, jQuery, Angular JS, Angular 2/4/6, 
                  React JS, JSON and AJAX. experience in using Python for developing
                   web-based applications, and expertise in Spring framework and Hibernate 
                   for Java/J2EE technologies.
                  
              </p>
              <div class="row mt-3">
                  <div class="col-md-6">
                      <ul>
                          <li>Name: Harshith Battu</li>
                          <li>Age: 25</li>
                          <li>Occupation: UI Developer</li>

                      </ul>
                  </div>
                  <!-- <div class="col-md-6">
                      <ul>
                          <li>Name: David Parker</li>
                          <li>Age: 28</li>
                          <li>Occupation: Web Developer</li>

                      </ul>
                  </div> -->
              </div>
              <div class="row mt-3">
                  <p>
                    experience in Figma for web-based 
                   interface designing and developing mobile applications. worked with SOAP
                    and Restful Web Service, and is well-versed in using 
                   XML/JSON and AJAX to link with back-end applications.  experience 
                   in agile-based development environments and are skilled in all phases of
                    software development life cycle.  strong communication, 
                    collaboration & team building skills with proficiency in grasping new 
                    technical concepts quickly.
                  </p>
              </div>
          </div>
      </div>
      </div>
</section>
<!-- services section-->
<section id="services">
  <div class="container">
      <h1 class="text-center">Services</h1>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class="fas servicesIcon fa-clock"></i>
                      <h4 class="card-title mt-3">Website Development</h4>
                      <p class="card-text mt-3">website development, refers to the tasks 
                        associated with creating, building, and maintaining websites 
                        and web applications that run online on a browser. It may, however, 
                        also include web design, web programming, and database management.   </p>
                  </div>
              </div>  
          </div>
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-layer-group'></i>
                      <h4 class="card-title mt-3">Website Design</h4>
                      <p class="card-text mt-3">Web design encompasses many different skills and 
                        disciplines in the production and maintenance of websites. The different 
                        areas of web design include web graphic design;  authoring, including standardised code and proprietary software; user 
                        experience design; and search engine optimization.    </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='far servicesIcon fa-check-circle'></i>
                      <h4 class="card-title mt-3">Angular </h4>
                      <p class="card-text mt-3">The Angular Language Service provides code editors with a way to get completions, errors, hints, and navigation inside Angular templates. It works with external templates in separate HTML files, and also with in-line templates.  </p>
                  </div>
              </div>  
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-search'></i>
                      <h4 class="card-title mt-3">JIRA</h4>
                      <p class="card-text mt-3">A board in Jira is a visual representation of your team’s workflow within a project. You can use multiple boards for flexible ways to view, manage, and report on work in progress on the same project.  </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-shield-alt'></i>
                      <h4 class="card-title mt-3">GIT</h4>
                      <p class="card-text mt-3">Git is easy to learn and has a tiny footprint with lightning fast performance. It outclasses SCM tools like Subversion, CVS, Perforce, and ClearCase with features like cheap local branching, convenient staging areas, and multiple workflows. </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-wrench'></i>
                      <h4 class="card-title mt-3">React</h4>
                      <p class="card-text mt-3">React is a free and open-source front-end JavaScript library for building user interfaces based on components. It is maintained by Meta and a community of individual developers and companies. React can be used to develop single-page, mobile .   </p>
                  </div>
              </div>  
          </div>
      </div>
  </div>
</section>
<!-- portfolio section-->
<section id="portfolio">
  <div class="container mt-3">
      <h1 class="text-center">Portfolio</h1>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card">
                  <img class="card-img-top" src="assets/port.jfif" alt="Card image">
                  <div class="card-body">
                      <h4 class="card-title">YouTube Clone</h4>
                      <p class="card-text">This would involve building a video uploading and playback system</p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="card-img-top" src="assets/port1.jpg" alt="Card image" >
                  <div class="card-body">
                      <h4 class="card-title">Quiz App</h4>
                      <p class="card-text">Quick App is an open-source development platform</p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="card-img-top" src="assets/port2.jpg" alt="Card image" >
                  <div class="card-body">
                      <h4 class="card-title">Product Landing Page</h4>
                      <p class="card-text">A product landing page is a web page designed to showcase </p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="card-img-top" src="assets/port3.jpg" alt="Card image" >
                  <div class="card-body">
                      <h4 class="card-title">Messaging Service</h4>
                      <p class="card-text">A messaging service is a platform that allows users to send and receive messages in real-time.</p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="card-img-top" src="assets/port4.jpg" alt="Card image" >
                  <div class="card-body">
                      <h4 class="card-title">Twitter Clone</h4>
                      <p class="card-text">A Twitter clone typically uses a similar interface and layout to Twitter</p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="card-img-top" src="assets/port5.jpg" alt="Card image" >
                  <div class="card-body">
                      <h4 class="card-title">Blog App</h4>
                      <p class="card-text">Some blog apps may also include analytics tools to track website traffic .</p>
                      <div class="text-center">
                          <a href="#" class="btn btn-success">Link</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</section>


<!-- contact section-->
<section id="contact">
  <div class="container mt-3 contactContent">
      <h1 class="text-center">Contact Me</h1>

      <div class="row mt-4">
          <div class="col-lg-6">
              <!-- to edit google map goto https://www.embed-map.com type your location, generate html code and copy the html  -->
              <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;">
                <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
                  <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=7737+Highpoint+Ridge,+Frisco,+TX,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
                  </iframe>
                </div>
                <a class="google-map-html" href="https://kbj9qpmy.com/hrn" id="make-map-data">InMotion Hosting</a><style>#google-maps-display img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style>
              </div>
          </div>

          <div class="col-lg-6">
              <!-- form fields -->
              <form>
                  <input type="text" class="form-control form-control-lg" placeholder="Name">
                  <input type="email" class="form-control mt-3" placeholder="Email">
                  <input type="text" class="form-control mt-3" placeholder="Subject">
                  <div class="mb-3 mt-3">
                      <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Project Details"></textarea>
                  </div>
              </form>
              <button type="button" class="btn btn-success mt-3">Contact Me</button>
              
          </div>

      </div>
  </div>
</section>
<footer class="bg-dark-1">
  <section id="footer" class="py-5">
    <div class="container text-center">
      <a href="#" class="twitter"></a>
      <a href="#" class="linkedin"></a>
      <a href="#" class="facebook"></a>
      <a href="#" class="skype"></a>
      <a href="#" class="flickr"></a>
      <h6 class="m-0 mt-4 text-center text-white text-capitalize">Copyright &copy; 2023 designed by harshith</h6>
    </div>
  </section>
</footer>


