<header>
    <div class="logo">
      <img src="assets/dac758d7606690d057a9cbba5f259154.png" alt="Logo">
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <body>
  <p>worked extensively with Angular, Spring MVC, Hibernate, and MongoDB. used various Angular 
    versions for creating complex directives, services, components, filters, and routing to support
     single page applications, and developed REST controllers to serve UI with JSON data. familiar 
     with TypeScript, RxJS, Jasmine, Mocha, Material-UI, and JIRA. experience with Spring Security 
     Framework and used Hibernate in the data persistence layer.</p>
     
<div class="simple-component">
    <h1>Simple Component</h1>
    <hr>
    <p>This is a simple component using HTML tags and CSS.</p>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
  <div class="card-component" >
    <div class="card-header">
      <h2>Card Component</h2>
    </div>
    <div class="card-body">
      <p>This is a more complex card component using HTML tags and CSS.</p>
      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ul>
    </div>
    <div class="card-footer">
      <a href="#">Read More</a>
    </div>
  </div>
</body>